Comisariato/Comisariato/Service References/ServiceRecepcion/RecepcionComprobantesOfflineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ec.gob.sri.ws.recepcion" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RecepcionComprobantesOfflineService" targetNamespace="http://ec.gob.sri.ws.recepcion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ec.gob.sri.ws.recepcion" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="RespuestaSolicitud" type="tns:respuestaSolicitud" />
      <xs:element name="comprobante" type="tns:comprobante" />
      <xs:element name="mensaje" type="tns:mensaje" />
      <xs:element name="validarComprobante" type="tns:validarComprobante" />
      <xs:element name="validarComprobanteResponse" type="tns:validarComprobanteResponse" />
      <xs:complexType name="validarComprobante">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validarComprobanteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaRecepcionComprobante" type="tns:respuestaSolicitud" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaSolicitud">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="comprobantes">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:comprobante" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="comprobante">
        <xs:sequence>
          <xs:element minOccurs="0" name="claveAcceso" type="xs:string" />
          <xs:element minOccurs="0" name="mensajes">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:mensaje" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="identificador" type="xs:string" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
          <xs:element minOccurs="0" name="informacionAdicional" type="xs:string" />
          <xs:element minOccurs="0" name="tipo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validarComprobanteResponse">
    <wsdl:part name="parameters" element="tns:validarComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="validarComprobante">
    <wsdl:part name="parameters" element="tns:validarComprobante" />
  </wsdl:message>
  <wsdl:portType name="RecepcionComprobantesOffline">
    <wsdl:operation name="validarComprobante">
      <wsdl:input name="validarComprobante" message="tns:validarComprobante" />
      <wsdl:output name="validarComprobanteResponse" message="tns:validarComprobanteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecepcionComprobantesOfflineServiceSoapBinding" type="tns:RecepcionComprobantesOffline">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validarComprobante">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validarComprobante">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validarComprobanteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecepcionComprobantesOfflineService">
    <wsdl:port name="RecepcionComprobantesOfflinePort" binding="tns:RecepcionComprobantesOfflineServiceSoapBinding">
      <soap:address location="https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>