Comisariato/Comisariato/Service References/ServiceAutorizacion/AutorizacionComprobantesOfflineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ec.gob.sri.ws.autorizacion" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AutorizacionComprobantesOfflineService" targetNamespace="http://ec.gob.sri.ws.autorizacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ec.gob.sri.ws.autorizacion" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="RespuestaAutorizacion" nillable="true" type="xs:anyType" />
      <xs:element name="autorizacion" type="tns:autorizacion" />
      <xs:element name="autorizacionComprobante" type="tns:autorizacionComprobante" />
      <xs:element name="autorizacionComprobanteLote" type="tns:autorizacionComprobanteLote" />
      <xs:element name="autorizacionComprobanteLoteResponse" type="tns:autorizacionComprobanteLoteResponse" />
      <xs:element name="autorizacionComprobanteResponse" type="tns:autorizacionComprobanteResponse" />
      <xs:element name="mensaje" type="tns:mensaje" />
      <xs:complexType name="autorizacionComprobante">
        <xs:sequence>
          <xs:element minOccurs="0" name="claveAccesoComprobante" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="autorizacionComprobanteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaAutorizacionComprobante" type="tns:respuestaComprobante" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaComprobante">
        <xs:sequence>
          <xs:element minOccurs="0" name="claveAccesoConsultada" type="xs:string" />
          <xs:element minOccurs="0" name="numeroComprobantes" type="xs:string" />
          <xs:element minOccurs="0" name="autorizaciones">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:autorizacion" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="autorizacion">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="numeroAutorizacion" type="xs:string" />
          <xs:element minOccurs="0" name="fechaAutorizacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ambiente" type="xs:string" />
          <xs:element minOccurs="0" name="comprobante" type="xs:string" />
          <xs:element minOccurs="0" name="mensajes">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:mensaje" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mensaje">
        <xs:sequence>
          <xs:element minOccurs="0" name="identificador" type="xs:string" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
          <xs:element minOccurs="0" name="informacionAdicional" type="xs:string" />
          <xs:element minOccurs="0" name="tipo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="autorizacionComprobanteLote">
        <xs:sequence>
          <xs:element minOccurs="0" name="claveAccesoLote" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="autorizacionComprobanteLoteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaAutorizacionLote" type="tns:respuestaLote" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaLote">
        <xs:sequence>
          <xs:element minOccurs="0" name="claveAccesoLoteConsultada" type="xs:string" />
          <xs:element minOccurs="0" name="numeroComprobantesLote" type="xs:string" />
          <xs:element minOccurs="0" name="autorizaciones">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:autorizacion" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="autorizacionComprobanteLote">
    <wsdl:part name="parameters" element="tns:autorizacionComprobanteLote" />
  </wsdl:message>
  <wsdl:message name="autorizacionComprobanteResponse">
    <wsdl:part name="parameters" element="tns:autorizacionComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="autorizacionComprobanteLoteResponse">
    <wsdl:part name="parameters" element="tns:autorizacionComprobanteLoteResponse" />
  </wsdl:message>
  <wsdl:message name="autorizacionComprobante">
    <wsdl:part name="parameters" element="tns:autorizacionComprobante" />
  </wsdl:message>
  <wsdl:portType name="AutorizacionComprobantesOffline">
    <wsdl:operation name="autorizacionComprobante">
      <wsdl:input name="autorizacionComprobante" message="tns:autorizacionComprobante" />
      <wsdl:output name="autorizacionComprobanteResponse" message="tns:autorizacionComprobanteResponse" />
    </wsdl:operation>
    <wsdl:operation name="autorizacionComprobanteLote">
      <wsdl:input name="autorizacionComprobanteLote" message="tns:autorizacionComprobanteLote" />
      <wsdl:output name="autorizacionComprobanteLoteResponse" message="tns:autorizacionComprobanteLoteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutorizacionComprobantesOfflineServiceSoapBinding" type="tns:AutorizacionComprobantesOffline">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="autorizacionComprobante">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="autorizacionComprobante">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="autorizacionComprobanteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autorizacionComprobanteLote">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="autorizacionComprobanteLote">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="autorizacionComprobanteLoteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutorizacionComprobantesOfflineService">
    <wsdl:port name="AutorizacionComprobantesOfflinePort" binding="tns:AutorizacionComprobantesOfflineServiceSoapBinding">
      <soap:address location="https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>